.idea/
.vscode/
*pycache*/
.env
.venv
__pycache__/
*.pyc
client_secret.json
firebase_secret.json
pgadmin-servers.json
sample.env
.env.bak
.dmypy.json
.coverage
firebase_secret.json
firebase_secret_bak.json
.pytest_cache/
cover/
__pypackages__/
.ruff_cache
.mypy_cache
temp_test.py
hte_temp
hte_temp/*
docs/conversations.txt
