API_TITLE=Mensa API
API_PORT=5000
API_HOST=0.0.0.0
API_LOG_LEVEL=INFO

POSTGRES_HOST=127.0.0.1
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=stats

POSTGRES_RO_USER=mensa_ro
POSTGRES_RO_PASSWORD=postgres
SITE_RO_USER=mensa_site_ro
SITE_RO_PASSWORD=postgres
SITE_DATABASE=mensa_site

DATA_ROUTE_API_KEY=
WHATSAPP_ROUTE_API_KEY=

GOOGLE_API_KEY=

OPENAI_API_KEY=
CHATGPT_ASSISTANT_ID=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_WHATSAPP_NUMBER=

REDIS_HOST=localhost
REDIS_PORT=6379

REGION_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=

SERVICE_ACCOUNT_FILE=client_secret.json
GOOGLE_API_SCOPES=https://www.googleapis.com/auth/admin.directory.user,https://www.googleapis.com/auth/admin.directory.group
GOOGLE_SERVICE_ACCOUNT=example@example.iam.gserviceaccount.com
GOOGLE_WORKSPACE_CRONJOB_UPTIME_URL=uptime_url

REGION_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

PRIVATE_JWT_KEY_FILE_NAME=
PRIVATE_JWT_KEY_FILE_PASSWORD=
PUBLIC_JWT_KEY_FILE_NAME=
